@import "tailwindcss";
@plugin "daisyui";

/* 1. Déclare la font-face AVANT toute utilisation */
@font-face {
  font-family: "ArialRounded";
  src: url("/fonts/arialroundedmtbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* 2. Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-test: "Arial", Helvetica, sans-serif;
  --font-sans: "ArialRounded", Helvetica, sans-serif; /* <-- ici ! */
  --font-mono: var(--font-geist-mono);
}

/* 3. Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 4. Application à body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(10px) rotate(-4deg);
  }
  50% {
    transform: translateY(-6px) rotate(4deg);
  }
}
